<% unless @user.avatar_url.nil? %><%= image_tag @user.avatar_url %><br /><% end %>


<p>
  <strong>Avatar:</strong>
  <%= cl_image_tag @user.avatar %>
</p>

<%= link_to 'Edit Your Info', edit_user_path(@user) %> |
