<%= stylesheet_link_tag "albums" %>

<div class="albums-heading">
<h1>Your Albums:</h1>
</div>

  <h4><%= link_to "Add Album", new_profile_album_path(@profile) %></h4>


  
  <% if @albums.empty? %>
    <p>No albums were added yet.</p>
  <% end %>

  <% @albums.each_slice(4) do |albums| %>
    <div class="row">
    <% albums.each do |album| %>
    <div class="column"><h3><%= link_to album.name, profile_album_path(@profile, album) %></h3>
    <p><%= link_to image_tag(album.cover.image.thumbnail.url), profile_album_path(@profile, album), {:class => "thumbnail inline"} %></p></div>
    <% end %>
    </div>
    <%end%>


