<h1>Your Albums:</h1>


  <%= link_to "Add Album", new_profile_album_path(@profile) %>


  
  <% if @albums.empty? %>
    <p>No albums were added yet.</p>
  <% end %>

  <% @albums.each do |album| %>
    <div class="album">
      <h2>
        <%= link_to album.name, profile_album_path(@profile, album) %>
          <%= link_to image_tag(album.cover.image.thumbnail.url), profile_album_path(@profile, album), {:class => "thumbnail inline"} %>
        <% end %>
      </h2>
    </div>
</div>

