<% @photos.each do |photo| %>
<div class="image">
  <%= link_to (image_tag "#{photo.image}", size: "200"), user_photo_path(@user, photo)%><br>
<% end %>
</div>
<br>
<%= link_to "Add New Photo", new_user_photo_path(@user) %>