
* {
  box-sizing: border-box;
}

.bg-img {
  background-image: url("https://i.ibb.co/FzPcnFy/paw-print-220229-1280.png");
  min-height: 610px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container {
  position: absolute;
  right: 14px;
  margin: 30px;
  max-width: 300px;
  padding: 35px;
  background-color: white;
}
