
* {
  box-sizing: border-box;
}

.bg-img {
  background-image: url("https://i.ibb.co/FzPcnFy/paw-print-220229-1280.png");
  min-height: 650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container {
  position: absolute;
  right: 14px;
  margin: 30px;
  max-width: 300px;
  padding: 35px;
  background-color: white;
}


.error_explanation {
  position: relative;
  padding: 5px;
  background-color: white;
  border: 2px solid;
  border-color: red;
  color: red;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  width: auto;
  height: auto;
}

.closebtn {
  position: absolute;
  font-size: 1em;
  padding: 5px;
  top: 4px;
  right: 16px;
  color: red;
  font-weight: bold;
}