
* {
  box-sizing: border-box;
}

.bg-img {
  background-image: url("https://i.ibb.co/FzPcnFy/paw-print-220229-1280.png");
  min-height: 610px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container {
  position: absolute;
  right: 14px;
  margin: 30px;
  max-width: 300px;
  padding: 35px;
  background-color: white;
}


.error_explanation {
  position: relative;
  padding: 10px;
  background-color: white;
  border-radius:.7em;
  border: 2px solid;
  border-color: red;
  color: red;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: auto;
  height: auto;
}

.closebtn {
  position: absolute;
  right: 100px;
  top: 100px;
  color: red;
  font-weight: bold;
}