.column {
    float: left;
    width: 25%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .error_explanation {
    position: relative;
    padding: 5px;
    background-color: white;
    border: 2px solid;
    border-color: red;
    color: red;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    width: auto;
    height: auto;
  }
  
  .closebtn {
    position: absolute;
    font-size: 1em;
    padding: 5px;
    top: 4px;
    right: 16px;
    color: red;
    font-weight: bold;
  }



/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.user-info-container {
  width: 70%;
  height: 70%;
  padding: 10px;
  border-width:5px;  
  border-style: dotted;
  border-color: #b80404;
  text-align: center;
}

.pats {
  width: 70%;
  height: 70%;
  padding: 10px;
  text-align: center;
  display: inline-block;
  background-image: url("https://i.ibb.co/wKSvwRL/419px-Paw-print-1.png");
  background-position: top 25px right 115px;
  background-repeat: no-repeat;
  background-size: 200px 150px;
  border-width:5px;  
  border-style: dashed;
  border-color: #fc9e2b;
}