.column {
    float: left;
    width: 25%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .error_explanation {
    position: relative;
    padding: 5px;
    background-color: white;
    border: 2px solid;
    border-color: red;
    color: red;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    width: auto;
    height: auto;
  }
  
  .closebtn {
    position: absolute;
    font-size: 1em;
    padding: 5px;
    top: 4px;
    right: 16px;
    color: red;
    font-weight: bold;
  }


/*Photos Index & Photos New */
/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}


/* Photos Show */
.user-info-container {
  width: 70%;
  height: 70%;
  padding: 10px;
  border-width:5px;  
  border-style: dotted;
  border-color: #b80404;
  text-align: center;
  color: #009699;
}

.pats {
  width: 70%;
  height: 70%;
  padding: 10px;
  text-align: center;
  display: inline-block;
  background-image: url("https://i.ibb.co/wKSvwRL/419px-Paw-print-1.png");
  background-position: top 25px right 115px;
  background-repeat: no-repeat;
  background-size: 200px 150px;
  border-width:5px;  
  border-style: dashed;
  border-color: #fc9e2b;
  color: #f0a1b6;
}

.comments {
  width: 70%;
  height: 70%;
  padding: 10px;
  border-width:5px;  
  border-style: solid;
  border-color: #a8d408;
  text-align: center;
  color: #35b4db;
}

.user-info {
  width: 70%;
  height: 70%;
  padding: 10px;
  text-align: center;
  display: inline-block;
  border-width:5px;  
  border-style: dashed;
  border-color: #fc9e2b;
  color: #f0a1b6;
}

/*Photos New*/ 


.form-heading {
  width: 70%;
  height: 70%;
  padding: 10px;
  border-width:5px;  
  border-style: solid;
  border-color: #2196F3;
  text-align: center;
  color: #e80768;
}

.description {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style the submit button */
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Add a background color to the submit button on mouse-over */
input[type=submit]:hover {
  background-color: #45a049;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.photo-index-heading {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-width:5px;  
  border-style: solid;
  border-color: #45a049;
  text-align: center;
  color: #f0a1b6;
}