<!DOCTYPE html>
<html lang="en">
<head>
<title>Pat My Dog</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style>
body {
  font-family: Arial;
  margin: 0;
}

.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}


.content {padding:20px;}
</style>
</head>
<body>

<div class="header">
  <h1>Pat My Dog!</h1>
  <p>Pat some dogs, let your dog get pats!</p>
</div>

<div class="content">

  <%= yield %>

</div>

<div class="footer">
  <h2></h2>
</div>

</body>
</html>
